// font-family: 'Raleway', sans-serif;
// font-family: 'Lora', serif;

body {
    @include fontSize(16);
    letter-spacing: 0.1rem;
}

p {
    @include fontSize(16);
    font-family: 'Lora', serif;
}

.logo {
    @include fontSize(34);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.header-title {
    @include fontSize(45);
    margin-bottom: 1rem;
}

.header-desc {
    @include fontSize(22);
    margin: 0;
    margin-bottom: 1rem;
}

.section__title {
    @include fontSize(34);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding-bottom: 7rem;
    text-align: center;
}

.item__title {
    @include fontSize(22);
    padding: 0;
    text-align: center;
}

.p--small {
    @include fontSize(14);
}

.txt--uppercase {
    text-transform: uppercase;
}

.question-form__message {
    font-family: 'Lora', serif;
}


@media (max-width: 820px) {
    body,
    p {
        @include fontSize(14);
    }

    .p--small {
        @include fontSize(12);
    }

    .header-title {
        @include fontSize(36);
    }

    .header-desc,
    .item__title {
        @include fontSize(18);
    }

    .logo,
    .section__title {
        @include fontSize(25);
    }
}

@media (max-width: 700px) {
    .section__title {
        padding-bottom: 3.5rem;
    }
}