// colors
$white: rgb(255, 255, 255);
$black: rgb(42, 42, 42);
$overlayBlack: rgba(42, 42, 42, 0.9);
$red: rgb(218, 51, 29);
$textGrey: rgb(210, 207, 207);
$iconGrey: rgb(132, 132, 132);
$yellow: rgb(229, 191, 75);


// mixins
@mixin fontSize($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue / 10) * 1rem;
}

//keyframes
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
   80% {
       transform: rotate(0deg);
    }
   85% {
       transform: rotate(5deg);
    }
   95% {
       transform: rotate(-5deg);
    }
  100% {
      transform: rotate(0deg);
    }
}

@keyframes pulse {
    from {
        transform : scale(1);
        opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        transform : scale(1);
        opacity   : 1;
    }
}