.about__grid {
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    &__item {
        flex: 1 1 calc((100% / 2));
    }

    &__item img {
        padding: 0 25%;
    }
}

.about__txt {
    flex: 1 1 50%;
    text-align: center;
}
