.achievement__list {
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;

    &__item {
        flex: 1 1 calc(100% / 4);
        text-align: center;

        &__icon {
            font-size: 3.6rem;
            transition: 0.3s;
        }

        &__icon:hover {
            color: $iconGrey;
            transform: rotate(-15deg);
        }

        &__num {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            margin: 1rem 0 0.6rem;
        }

        &__name {
            margin: 0;
            padding: 0;
            @include fontSize(15);
        }
    }
}

@media (max-width: 700px) {
    .achievement__list__item {
        &__name {
            @include fontSize(13);
        }

        &__icon {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 600px) {
    .achievement__list {
        flex-flow: wrap;
    }
    .achievement__list__item {
        flex: 0 1 50%;
        margin: 20px 0;
    }
}
