.events__grid {
    display: flex;

    &__item {
        flex: 1 1 33%;
    }

    &__item:nth-child(1) {
        flex: 1 1 33.25%;
    }

    &__item:nth-child(2) {
        flex: 1 1 33.35%;
    }

    &__item {
        position: relative;
        width: 100%;

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            width: 100%;
            transition: .3s ease;
            background-color:  rgba(42, 42, 42, 0.9);
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            padding: 0 4rem;
        }

        &:hover &__overlay {
            opacity: 1;
            width: 100%;
            cursor: pointer;
        }
    }
}

.overlay__hr {
    width: 80%;
    margin: 1.7rem auto;
}

.overlay__title,
.overlay__p {
    margin: 0;
}
