.events {
    padding-top: 7rem;
}

.events__grid {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        flex: 1 1 33%;
    }

    &__item:nth-child(1) {
        flex: 1 1 33.25%;
    }

    &__item:nth-child(2) {
        flex: 1 1 33.35%;
    }

    &__item {
        position: relative;
        width: 100%;

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            width: 100%;
            transition: .3s ease;
            background-color:  $overlayBlack;
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            padding: 0 4rem;
        }

        &:hover &__overlay {
            opacity: 1;
            width: 100%;
            cursor: pointer;
        }
    }
}

.overlay__hr {
    width: 80%;
    margin: 1.7rem auto;
}

.overlay__title,
.overlay__p {
    margin: 0;
}


@media (max-width: 950px) {
    .overlay__hr {
        width: 80%;
        margin: 0.5rem auto;
    }

    .overlay__title {
        @include fontSize(20);
    }

    .overlay__p {
        @include fontSize(12);
    }
}

@media (max-width: 775px) {
    .events__grid {
        flex-direction: column;
        width: 70%;
        margin: 0 auto;

        &__item,
        &__item:nth-child(1),
        &__item:nth-child(2) {
            margin: 15px;
            flex: 0 1 calc(100% - 80px);
        }
    }

    .overlay__hr {
        width: 80%;
        margin: 1.7rem auto;
    }

    .overlay__p {
        @include fontSize(14);
    }
}

@media (max-width: 450px) {
    .events__grid {
        width: 85%;
    }

    .overlay__hr {
        width: 80%;
        margin: 0.7rem auto;
    }

}