.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    .contact__items {
        display: flex;
        flex-direction: column;

        & * {
            display: inline-block;
        }
    }

    .contact__item {

        &__txt {
            margin: 0.6rem 0.4rem;
        }

        &__form {
            margin-top: 1.5rem;
            position: relative;

            &__email {
                background: transparent;
                border: 1px solid $white;
                padding: 0.3em 0.8em 0.6rem;
                color: $white;
                width: 100%;

                &::placeholder {
                    font-family: 'Lora', serif;
                    @include fontSize(14);
                }

            }
        }
    }

    .about-us__txt {
        line-height: 2.3rem;
    }

    .instagram-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        grid-gap: 1rem;


        &__overlay {
            width: 100%;
            position: relative;

            & .after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                color: #FFF;
            }

            &:hover .after {
                display: block;
                background: #f09433;
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                opacity: 0.7;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.fa-paper-plane {
    position: absolute;
    top: 30%;
    right: 8%;
    font-size: 1.3rem;

    &:hover {
        color: $white;
    }
}

.after .fa-instagram {
    font-size: 3rem;
    transition: 0.3s ease;

     &:hover {
        transform: rotate(-10deg);
     }
}

.footer__nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__items {
        margin: 3rem 0 0 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 3rem;
    }

    &__items li:hover {
        color: $white;
    }
}

.copyright__txt {
    margin: 0;
    padding-bottom: 3rem;
    text-align: center;
}

.footer__bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__side-social {
    position: absolute;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
        font-size: 2rem;

        &:nth-of-type(2) {
            margin: 4rem 0;
        }

        &:hover .fa-facebook {
            color: #4867AA;;
        }

        &:hover .fa-instagram {
            color: #BE3B81;
        }

        &:hover .fa-facebook {
            color: #4867AA;;
        }

        &:hover .fa-pinterest-p {
            color: #DA192A;
        }
    }

}