.reviews__carousel {
    text-align: center;

    .fa-angle-left,
    .fa-angle-right {
        position: absolute;
        font-size: 3.5rem;
        cursor: pointer;
    }

    .fa-angle-left {
        left: 35%;
        top: 13%;
    }

    .fa-angle-right {
        right: 35%;
        top: 13%;
    }

    &__image {
        width: 126px;
        height: 126px;
        margin: 0 auto;
        margin-bottom: 4rem;
        position: relative;
    }

    &__text {
        width: 80%;
    }

    .commenter-name {
        font-style: italic;
    }
}

.carousel-cell {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.flickity-page-dots {
    display: none;
}

/* flickity button styling */
button.flickity-button {
  background: transparent;
}

button.flickity-button:hover svg.flickity-button-icon {
    fill: $white;
}

button.flickity-button:hover {
    background: transparent;
}

svg.flickity-button-icon {
    fill: $iconGrey;
}

/* pervious/next button styling */
button.flickity-prev-next-button {
    top: 25%;

    &.next {
        right: 30%;
    }

    &.previous {
        left: 30%;
    }
}


// media queries
@media (max-width: 900px) {
    .reviews__carousel .fa-angle-left {
        left: 27%;
        top: 15%;
    }

    .reviews__carousel .fa-angle-right {
        right: 27%;
        top: 15%;
    }
}

@media (max-width: 730px) {
    button.flickity-prev-next-button {
        top: 22%;

        &.next {
            right: 20%;
        }

        &.previous {
            left: 20%;
        }
    }
}

@media (max-width: 500px) {
    button.flickity-prev-next-button {
        top: 20%;

    &.next {
        right: 7%;
    }

    &.previous {
        left: 7%;
    }
}
}