.reviews__carousel {
    text-align: center;

    .fa-angle-left,
    .fa-angle-right {
        position: absolute;
        font-size: 3.5rem;
        cursor: pointer;
    }

    .fa-angle-left {
        left: 35%;
        top: 13%;
    }

    .fa-angle-right {
        right: 35%;
        top: 13%;
    }

    &__image {
        width: 126px;
        height: 126px;
        margin: 0 auto;
        margin-bottom: 4rem;
        position: relative;
    }

    &__text {
        width: 80%;
    }

    .commenter-name {
        font-style: italic;
    }
}

.carousel-cell {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.flickity-page-dots {
    display: none;
}



/* no circle */
button.flickity-button {
  background: transparent;
}

button.flickity-button:hover svg.flickity-button-icon {
    fill: $white;
}

button.flickity-button:hover {
    background: transparent;
}

svg.flickity-button-icon {
    fill: $iconGrey;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
// /* icon color */
// .flickity-button-icon {
//   fill: white;
// // }
// /* hide disabled button */
// .flickity-button:disabled {
//   display: none;
// }


// .carousel-cell:before {
//     content: ("hello");
// }

// media looks like shit at 720px
@media (max-width: 900px) {
    .reviews__carousel .fa-angle-left {
        left: 27%;
        top: 15%;
    }

    .reviews__carousel .fa-angle-right {
        right: 27%;
        top: 15%;
    }
}

@media (max-width: 500px) {
    .reviews__carousel .fa-angle-left {
        left: 17%;
        top: 15%;
    }

    .reviews__carousel .fa-angle-right {
        right: 17%;
        top: 15%;
    }
}