.services__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    &__item {
        flex: 1 1 calc((100% / 2));
        text-align: center;
        min-width: 300px;

        &__text,
        &__text2 {
            padding: 3.5rem;
        }
    }

}


// content breaks at width: 1180;
@media (max-width: 1100px) {
    .services .item__title {
        margin: 0;
    }

}

@media (max-width: 768px) {
    .services__grid {
        position: relative;
    }

    .services__img {
        margin: 20px;
    }

    .services__grid__item__text,
    .services__grid__item__text2 {
        position: absolute;
        z-index: 1;
        background-color: $white;
        width: 80%;
    }

    .services__grid__item__text {
        top: 14%;
    }

    .services__grid__item__text2 {
        top: 64%;
    }
}

@media (max-width: 550px) {
    .services__img {
        display: none;
    }

    .services__grid__item__text,
    .services__grid__item__text2 {
        position: static;
        margin: 0;
        padding: 0;
        z-index: 1;
        background-color: $white;
    }

    .services__grid__item__text2 {
        margin-top: 3rem;
    }

}