body {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.1rem; }

p {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Lora', serif; }

.logo {
  font-size: 34px;
  font-size: 3.4rem;
  font-family: 'Raleway', sans-serif;
  margin: 0; }

.header-title {
  font-size: 45px;
  font-size: 4.5rem;
  margin-bottom: 1rem; }

.header-desc {
  font-size: 22px;
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 1rem; }

.section__title {
  font-size: 34px;
  font-size: 3.4rem;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 8rem 0 7rem;
  text-align: center; }

.item__title {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center; }

.p--small {
  font-size: 14px;
  font-size: 1.4rem; }

.txt--uppercase {
  text-transform: uppercase; }

.question-form__message {
  font-family: 'Lora', serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: 01C 01D 018 019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-header {
  background: url(../assets/image-1.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 4rem 0; }
  .main-header__nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .main-header__nav--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
      flex: 1 1 55%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .main-header .logo {
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%; }
  .main-header .header__txt {
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.about__grid {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .about__grid__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% / 2));
    flex: 1 1 calc((100% / 2)); }
  .about__grid__item img {
    padding: 0 25%; }

.about__txt {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: center; }

.welcome .wrapper {
  text-align: center; }

.welcome .btn {
  margin-bottom: 8rem; }

.welcome p {
  margin-top: 0; }

.services__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8rem;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }
  .services__grid__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc((100% / 2));
    flex: 1 1 calc((100% / 2));
    text-align: center; }
    .services__grid__item__text {
      padding: 3.5rem; }

.reviews__carousel {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 7rem; }
  .reviews__carousel .fa-angle-left,
  .reviews__carousel .fa-angle-right {
    position: absolute;
    font-size: 3.5rem;
    cursor: pointer; }
  .reviews__carousel .fa-angle-left {
    left: 35%;
    top: 13%; }
  .reviews__carousel .fa-angle-right {
    right: 35%;
    top: 13%; }
  .reviews__carousel__image {
    width: 126px;
    height: 126px;
    margin-bottom: 4rem;
    position: relative; }
  .reviews__carousel__text {
    width: 80%; }
  .reviews__carousel .commenter-name {
    font-style: italic; }

.events__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .events__grid__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%; }
  .events__grid__item:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.25%;
    flex: 1 1 33.25%; }
  .events__grid__item:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.35%;
    flex: 1 1 33.35%; }
  .events__grid__item {
    position: relative;
    width: 100%; }
    .events__grid__item__overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      width: 100%;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      background-color: rgba(42, 42, 42, 0.9);
      color: white;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 4rem; }
    .events__grid__item:hover .events__grid__item__overlay {
      opacity: 1;
      width: 100%;
      cursor: pointer; }

.overlay__hr {
  width: 80%;
  margin: 1.7rem auto; }

.overlay__title,
.overlay__p {
  margin: 0; }

.question-form {
  text-align: center;
  margin-bottom: 7rem; }
  .question-form__message {
    display: block;
    margin: 0 auto;
    width: 65%;
    text-align: center;
    border: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid #2a2a2a;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
  .question-form__message:focus {
    border-color: #848484;
    width: 100%; }

html {
  font-size: 62.5%; }

img {
  width: 100%;
  display: block; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  width: 65%;
  max-width: 1000px;
  margin: 0 auto; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.theme--black {
  background-color: #2a2a2a;
  color: #d2cfcf; }

.theme--yellow {
  background: #e5bf4b; }

.btn {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 12px 30px 8px;
  border-radius: 40px;
  letter-spacing: 0.3rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin-top: 2.2rem; }

.btn:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 150%;
  opacity: 0;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }

/* Hover state - trigger effect */
.btn:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  -webkit-transition-property: left, top, opacity;
  -o-transition-property: left, top, opacity;
  transition-property: left, top, opacity;
  -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
  -o-transition-duration: 0.7s, 0.7s, 0.15s;
  transition-duration: 0.7s, 0.7s, 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

/* Active state */
.btn:active:after {
  opacity: 0; }

.btn--red {
  background-color: #da331d; }

.btn--black {
  background-color: #2a2a2a; }
